{% extends base_template %}

{% block page_title %}{{ admin.label|capitalize ~ ' ' ~ action|capitalize }}{% endblock %}
{% block actions %}
{% spaceless %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
        <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box collapsed-box">
            <div class="box-header">
                <h3 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button class="btn btn-default btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-default btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div><!-- /. tools -->
            </div>

            <div class="box-body collapse">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                        <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                            {% for filter in admin.datagrid.filters %}
                                <div class="form-group">
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">{{ admin.trans(filter.label, {}, filter.translationDomain) }}</label>
                                    {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                    <div>
                                        {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                    </div>

                                    <div>
                                        {{ form_widget(form.children[filter.formName].children['value']) }}
                                    </div>
                                </div>
                            {% endfor %}

                            <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                            {% set foo = form.children['_page'].setRendered() %}
                            {{ form_rest(form) }}

                            <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                            <a class="btn btn-default" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                        </div>

                        {% for paramKey, paramValue in admin.persistentParameters %}
                            <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                        {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block list_table %}
    <div class="box">
        <div class="box-body table-responsive">
            {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

            {% block list_header %}{% endblock %}

            {% set batchactions = admin.batchactions %}
            {% if admin.datagrid.results|length > 0 %}
                {% if admin.hasRoute('batch') %}
                <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
                    <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
                {% endif %}
                    <table id="list-table" class="table table-bordered table-striped">
                        {% block table_header %}
                            <thead>
                                <tr>
                                    {% for field_description in admin.list.elements %}
                                        {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                              <input type="checkbox" id="list_batch_checkbox">
                                            </th>
                                        {% elseif field_description.getOption('code') == '_select' %}
                                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                                        {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                            {# Action buttons disabled in ajax view! #}
                                        {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                            {# Disable fields with 'ajax_hidden' option set to true #}
                                        {% else %}
                                            {% set sortable = false %}
                                            {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                                {% set sortable             = true %}
                                                {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                                {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                            {% endif %}

                                            {% spaceless %}
                                                <th>
                                                    {{ admin.trans(field_description.label, {}, field_description.translationDomain) }}
                                                </th>
                                            {% endspaceless %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                                {% for object in admin.datagrid.results %}
                                    <tr>
                                        {% include admin.getTemplate('inner_list_row') %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                            <tfoot>
                                <tr>
                                    <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                                        <div class="form-inline">
                                            {% if not app.request.isXmlHttpRequest %}
                                                {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                                                    {% block batch %}
                                                        
                                                        {% block batch_actions %}
                                                            <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                                <input type="checkbox" name="all_elements" id="checkbox_all_elements">
                                                                &nbsp;
                                                                {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                                                 ({{ admin.datagrid.pager.nbresults }})
                                                            </label>

                                                            &nbsp;
                                                            <select name="action" style="width: auto; height: auto" class="form-control">
                                                                {% for action, options in batchactions %}
                                                                    <option value="{{ action }}">{{ options.label }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        {% endblock %}

                                                        <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                                    {% endblock %}
                                                {% endif %}

                                                <div class="pull-right">
                                                    {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                <i class="glyphicon glyphicon-export"></i>
                                                                {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                {% for format in admin.getExportFormats() %}
                                                                    <li>
                                                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                                            <i class="glyphicon glyphicon-download"></i>
                                                                            {{ format|upper }}
                                                                        </a>
                                                                    <li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>

                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </th>
                                </tr>

                                {% block pager_links %}
                                    {% if admin.datagrid.pager.haveToPaginate() %}
                                        {% include admin.getTemplate('pager_links') %}
                                    {% endif %}
                                {% endblock %}

                            </tfoot>
                        {% endblock %}
                    </table>
                {% if admin.hasRoute('batch') %}
                </form>
                {% endif %}
            {% else %}
                <div class="callout callout-info">
                    {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
                </div>
            {% endif %}

            {% block list_footer %}{% endblock %}

            {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}


        </div>
    </div>
{% endblock %}
